<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BudgetMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA3138E61E3D3ACC0051C1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3138FA1E3D3ACC0051C1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA3139051E3D3ACC0051C1E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
